/*v-Header-v*/
li {
  margin: auto;
  display: block;
  border: solid 2px black;
  width: 19.56%;
  height: 30px;
  text-align: center;
  float: left;
}

ul {
  margin: 0;
  padding: 0;
  width: 100.4%;
}

/*^-Header-^*/

#page {
  width: 80%;
  margin: auto;
  border: solid 2px black;
  height: 600px;
  align-items: center
}

/*v-Contact page-v*/
#form {
  border: solid 2px black;
  width: 49.634%;
  float: left;
  height: 93.7%;
  align-items: center;
}

#forminfo {
  border: solid 2px black;
  width: 49.634%;
  float: right;
  height: 93.7%;
  text-align: left;
}

#forminfo p {
  width: 90%;
}

#problemdes {
  height: 130px;
}

#form form {
  padding: 5px;
  margin-left: 35%;
  margin-top: 20px;
}

#form button {
  margin-left: 55%;
  margin-top: 20px;
}

/*^-Contact page-^*/

#nav {
  margin: auto;
  align-items: center;
}

a:focus,
a:visited {
  color: black
}

a:active {
  background-color: grey;
  color: black;
}
