li {
  margin: auto;
  display: block;
  border: solid 2px black;
  width: 19.6%;
  height: 30px;
  text-align: center;
  position: static;
}

#Form {
  border: solid 2px black;
}

#nav {
  margin: auto;
  align-items: center;
}

a:focus,
a:visited {
  color: black
}

a:active {
  background-color: grey;
  color: black;
}

#page {
  width: 80%;
  margin: auto;
}
