/*v-Header-v*/
li {
  margin: auto;
  display: block;
  border: solid 2px black;
  width: 19.6%;
  height: 30px;
  text-align: center;
  float: left;
  margin-top: -4px;
}

ul {
  margin: 0;
  padding: 0;
  width: 100.4%;
}

#page img {
  width: 100%;
}

#nav {
  margin: auto;
  align-items: center;
}

a:focus,
a:visited {
  color: black
}

/*v-Hovers-v*/
#index a:hover {
  padding-left: 100px;
  padding-right: 100px;
}

#reservation a:hover {
  padding-left: 81px;
  padding-right: 81px;
}

#contact a:hover {
  padding-left: 95px;
  padding-right: 95px;
}

#about a:hover {
  padding-left: 99.5px;
  padding-right: 99.5px;
}

#login a:hover {
  padding-left: 100px;
  padding-right: 101px;
}

/*^-Hovers-^*/

a:active,
a:hover {
  background-color: grey;
  color: black;
  padding-bottom: 12px;
}


/*^-Header-^*/

/*v-Main page-v*/
#page {
  width: 80%;
  margin: auto;
  border: solid 2px black;
  height: 710px;
  align-items: center;
  margin-top: -10px;
}

#placement {
  border: solid 2px black;
  margin-top: 30px;
  width: 99.7%;
  height: 66.9%;

}

/*^-Main page-^*/

/*v-Contact page-v*/
#form {
  border: solid 2px black;
  width: 49.64%;
  float: left;
  height: 66.9%;
  align-items: center;
}

#forminfo {
  border: solid 2px black;
  width: 49.64%;
  float: right;
  height: 66.9%;
  text-align: left;
}

#forminfo p {
  width: 90%;
  margin: 8px;
}

#problemdes {
  height: 130px;
}

#form form {
  padding: 5px;
  margin-left: 35%;
  margin-top: 20px;
}

#form button {
  margin-left: 28%;
  margin-top: 10px;
}

/*^-Contact page-^*/

/*v-Footer-v*/
footer {
  border: solid 2px black;
  background: black;
  float: left;
  height: 8%;
  width: 100%;
  margin-left: -2px;
}

/*^-Footer-^*/

/*v-Homepage-v*/
/*^-Homepage-^*/
